@media (max-width: 350px) {
  .details li {
    gap: 6rem !important;
    font-size: .8rem;
  }
  .addToCart {
    font-size: .8rem !important;
  }
  .addToCart svg {
    width: 1.5rem !important;
  }
}

.blocC {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 2rem;
  gap: 5rem;
  font-size: 1.1rem;
}

/*
** Color Picker
**/

.colorPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: slideFromRight 1.2s ease-in-out;
  z-index: 1;
}
.colorButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.colorButton .color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.colorButton p {
  font-size: 1rem;
  margin: 0;
}

/*
** Strorage Capacity
**/

.strorageCapacity {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.movingBox {
  position: absolute;
  box-sizing: border-box;
  z-index: 0;
  width: 45%;
  height: 100%;
  border-radius: 3px;
  transition: all cubic-bezier(0.5, -0.3, 0.78, 1.4) 0.3s;
}
.strorageCapacity div {
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  z-index: 1;
}

/*
** Details
**/

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: slideFromRight 2.2s ease-in-out;
  z-index: 1;
}
.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8rem;
}
.details li div:first-child {
  font-weight: 600;
}
.details li div:nth-child(2) {
  text-align: right;
}

/*
** Add to cart button
**/

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Asap Condensed", sans-serif;
  transition: all 0.5s;
  animation: slideFromRight 4s ease-in-out;
  z-index: 1;
}
.addToCart svg {
  width: 2rem;
  height: 2rem;
}
.addToCart svg path:nth-child(4) {
  transform: translateY(-2rem);
  transition: all 0.1s;
}
.addToCart:hover svg path:nth-child(4) {
  transform: translateY(0rem);
}
