.leftBloc {
  position: relative;
  width: 23rem;
  height: 35rem;
}

.leftBloc img {
  position: absolute;
  cursor: pointer;
  transition: all 0.5s;
}
.leftBloc img:hover {
  scale: 1.05;
}
.leftBloc .isSelected {
  animation: slideFromLeft 1s ease-in-out, upNdown 4s ease-in-out infinite !important;
}
#img1 {
  top: 4rem;
  right: 0;
  animation: slideFromLeft 1.2s ease-in-out;
}
#img2 {
  top: 8rem;
  right: 5rem;
  animation: slideFromLeft 1.1s ease-in-out;
}
#img3 {
  top: 14rem;
  right: 10rem;
  animation: slideFromLeft 1s ease-in-out;
}
#img4 {
  top: 10rem;
  right: 15rem;
  animation: slideFromLeft 0.9s ease-in-out;
}
