.midBloc {
  position: relative;
  width: 20rem;
  height: 35rem;
}

/*
** Images
**/

.midBloc img {
  max-width: 9rem;
}
.imgFull,
.imgSide,
.imgCamera {
  position: absolute;
}
.imgFull {
  top: 3rem;
  right: 0;
  animation: slideFromTop 1.5s ease-in-out;
}
.imgSide {
  top: 10rem;
  animation: slideFromLeft 1.5s ease-in-out;
}
.imgCamera {
  top: 16rem;
  animation: slideFromBot 1.5s ease-in-out;
}
