.midBloc {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

/*
** Model Title
**/

.modelTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.modelTitle div:first-child {
  animation: deusExMachina 1s ease-out;
}
.modelTitle h1 {
  margin: 0;
  font-size: 3rem;
  color: #333;
  animation: slideFromTop 1.2s ease-in-out;
}
.modelTitle p {
  margin: 0 0 0 0.2rem;
  color: #333;
  font-size: 1.2rem;
  animation: slideFromTop 1.2s ease-in-out;
}

/*
** Images
**/

.midBloc .images img {
  width: 10rem;
}
.images {
  width: 22rem;
  height: 20rem;
  position: relative;
}
.imgFull,
.imgSide,
.imgCamera {
  position: absolute;
  animation: slideFromBot 2s ease-in-out;
}
.imgFull {
  height: 23rem;
  top: -12rem;
  right: 0;
  animation: slideFromTop 2s ease-in-out;
}
.imgSide {
  top: -5rem;
  animation: slideFromLeft 2s ease-in-out;
}
.imgCamera {
  top: 1rem;
}