.rightBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 2rem;
  gap: 2rem;
  font-size: 1.2rem;
}

/*
** Price
**/

.rightBloc > p {
  font-size: 1.5rem;
  margin: 0;
  animation: slideFromRight 2.2s ease-in-out;
}

/*
** Color Picker
**/

.colorPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: slideFromRight 1.2s ease-in-out;
}
.colorButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.colorButton .color {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 50%;
}
.colorButton p {
  font-size: 1rem;
  margin: 0;
}

/*
** Strorage Capacity
**/

.strorageCapacity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: slideFromRight 2.2s ease-in-out;
}
.strorageCapacity div {
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  border-radius: 3px;
  transition: all .5s;
}

/*
** Details
**/

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: slideFromRight 2.2s ease-in-out;
}
.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8rem;
}
.details li div:first-child {
  font-weight: 600;
}

/*
** Add to cart button
**/

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  margin: 3rem 0;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Asap Condensed", sans-serif;
  transition: all .5s;
  animation: slideFromRight 4s ease-in-out;
}
.addToCart svg {
  width: 2rem;
  height: 2rem;
}
.addToCart svg path:nth-child(4) {
  transform: translateY(-2rem);
  transition: all .5s;
}
.addToCart:hover svg path:nth-child(4) {
  transform: translateY(0rem);
  /* animation: moveCart .5s ease-in-out; */
}