@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;600&display=swap");

@media (max-width: 550px) {
  header img {
    display: none;
  }
  .modelTitle h1 {
    font-size: 7.5rem !important;
  }
  .modelTitle h2 {
    font-size: 3rem !important;
    bottom: -1.5rem !important;
    right: 2.5rem !important;
  }
}

:root {
  --background: #eee6e6;
  --black: #37383a;
  --white: #fafafa;
  --pink: #ebd8d4;
  --green: #556e6b;

  font-family: "Asap Condensed", sans-serif;
  font-size: 16px;
  background-color: var(--background);
}

::selection {
  background-color: var(--black);
  color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 1rem 5rem;
  overflow: hidden;
}

/*
** Header
**/

header {
  /* background-image: url("./assets/all-colors.jpg"); */
  /* background-image: url("./assets/all-colors1.png"); */
  /* background-image: url("./assets/all-colors2.png"); */
  height: 24rem;
  /* background-image: url("./assets/all-colors3.jpeg");
  background-size: cover;
  background-position: 100% 40%;
  background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header img {
  width: 100%;
  z-index: -4;
}
header div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.modelTitle {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modelTitle h1 {
  font-size: 9rem;
  margin: 0;
  background-image: url("./assets/space.jpg") !important;
  background-size: cover;
  background-clip: text;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 1s ease-in-out;
}
.modelTitle h2 {
  position: absolute;
  font-size: 4rem;
  margin: 0;
  bottom: -2rem;
  right: 3rem;
  animation: slideFromTop 1.5s ease-in-out;
}

/*
** Animations
**/

@keyframes upNdown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromBot {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bubbleFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
** Scrollbar
**/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000a1;
}
