@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@300;600&display=swap");

@media (max-width: 750px) {
  header img {
    display: none;
  }
}
@media (max-width: 550px) {
  .modelTitle h1 {
    font-size: 5rem !important;
  }
  .modelTitle h2 {
    font-size: 3rem !important;
    bottom: -1.5rem !important;
    right: 2.5rem !important;
}
}
/*
** Global
**/

:root {
  --background: #eee6e6;
  --black: #37383a;
  --white: #f0f0f0;
  --pink: #ebd8d4;
  --green: #556e6b;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--background);
}

::selection {
  background-color: var(--black);
  color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 1rem 5rem;
  overflow: hidden;
}

/*
** Header
**/

header {
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header img {
  width: 100%;
  z-index: -4;
  animation: fadeIn 1.5s ease-in-out;
}
header div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.modelTitle {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modelTitle h1 {
  font-size: 9rem;
  margin: 0;
  background-image: url("./assets/space1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 1s ease-in-out,  galaxyTraveling 200s ease-in-out infinite;
}
.modelTitle h2 {
  position: absolute;
  font-size: 4rem;
  margin: 0;
  bottom: -1.5rem;
  right: 4.5rem;
  animation: slideFromTop 1.5s ease-in-out;
}

/*
** Animations
**/

@keyframes galaxyTraveling {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
@keyframes upNdown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromBot {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bubbleFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowComeAndGo {
  0% {
    opacity: 0;
    color: white;
    transform: translateX(100%);
  }
  3% {
    opacity: 1;
    color: black;
    transform: translateX(7%);
  }
  97% {
    opacity: 1;
    color: black;
    transform: translateX(-5%);
  }
  100% {
    opacity: 0;
    color: white;
    transform: translateX(-100%);
  }
}
@keyframes blackWink {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    color: black;
  }
  3% {
    transform: translateX(-1%);
    opacity: 1;
    -webkit-text-stroke: 3px black;
    color: white;
  }
  97% {
    transform: translateX(1%);
    opacity: 1;
    -webkit-text-stroke: 3px black;
    color: white;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    color: black;
  }
}
@keyframes progressBar {
  0% {
    width: 15rem;
  }
  100% {
    width: 0rem;
  }
}

/*
** Scrollbar
**/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000a1;
}
